<!-- Settings container START -->
<div class="col-md-12 aBSettings">
    <h3>Export Settings</h3>
    <p ng-hide="projectID">
      Please Open or create a project in order to Export anything.
    </p>
    <div class=""  ng-show="projectID">
      <h4 class="text-center">Choose what to Export For:</h4>
      <!-- Label END -->
      <p class="text-center">
          <label class="radio-inline">
              <input type="radio" ng-model="exportType" id="radioPlugin" value="plugin"> Plugin
          </label>
          <label class="radio-inline">
              <input type="radio" ng-model="exportType" id="radioTheme" value="theme"> Theme
          </label>
      </p>


    <p class="text-center">
        <button ng-show="projectID" type="button" ng-click="exportPHP()" name="button" class="btn btn-primary btn-lg">Export</button>
    </p>


    <h2>How to use: (2 steps)</h2>

    <div uib-collapse="!varHasValue(exportType,'plugin')">

        <p>
            <ol>
                <li>Export and place the abExport.php file in your plugin directory.</li>
                <li>Add the following code to the top of your plugin, just after the plugin information comment. After the */
                    <br/>
                    <pre>
                if (!function_exists('get_plugins')) {

                   require_once ABSPATH.'wp-admin/includes/plugin.php';
               }
               $plugin_folder = get_plugins('/'.plugin_basename(dirname(__FILE__)));
               $plugin_file = basename((__FILE__));

               require_once 'abExport.php';</pre></b>
            </ol>
        </p>
        <p>
            That's it, Everything else is done by the plugin.
        </p>
    </div>

    <div uib-collapse="!varHasValue(exportType,'theme')">

        <p>
            <ol>
                <li>Export and place the abExport.php file in your theme directory.</li>
                <li>Add the following code to the top of your functions.php, This should be the first source code in that file.
                    <br/>
                    <pre>
                      require_once 'abExport.php';</pre></b>
            </ol>
        </p>
        <p>
            That's it, Everything else is done by the plugin.
        </p>
    </div>


    <div id="phpExport1"></div>
    <!-- Settings container END -->
    <h3>Extra Options</h3>
    <p>
        Clear all your saved settings. Empty everything:
    </p>
    <p>
        <button type="button" ng-click="aBClear()" name="button" class="btn btn-primary">Clear Everything</button> - WARNING! This removes all your saved settings from your current project and sets everything to default with 0 settings.
    </p>
  </div>
</div>
