<div class="col-md-12">
  <div class="row">
    <div class="col-sm-3">
      <button type="button" ng-click="saveSettings()" name="button" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Save </button>
      <!-- <button class="btn btn-default" ng-class="{active: !sShow}" ng-click="contentSwitch(false)" type="button"><i class="glyphicon glyphicon-home"></i> Home </button> -->
      <button class="btn btn-default" ng-click="loadSettings()" type="button"><i class="glyphicon glyphicon-open"></i> Open</button>
    </div>
    <div class="col-sm-7 text-center">
      <span class="mainTitle">Admin Builder</span> <span class="version">v 0.3.4</span>
    </div>
    <div class=" col-sm-2">
      <button class="settingsButton btn btn-default" ng-class="{active: sShow}" ng-click="contentSwitch(true)" type="button"><i class="glyphicon glyphicon-cog"></i>Export</button>
      <button class="settingsButton btn btn-default" ng-click="logOut()" type="button"><i class="glyphicon glyphicon-off"></i></button>
    </div>
  </div>
</div>
