<h2>{{aBMain.menus[selMI].label}}</h2>
<p>
    metaboxes for the {{aBMain.menus[selMI].label}} post type. Add, edit, delete, sort meta boxes here.
</p>
<div class="row">
    <div class="col-sm-12">
        <div class="row metabox" ng-repeat="mBox in aBMain.menus[selMI].children">
            <div class="col-sm-12">
                <div>
                    <div class="mBoxHeader">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="expand">
                                            <button ng-click="isCollapsed = !isCollapsed" type="button" name="button" class="btn btn-default">
                                                <i ng-class="{'glyphicon-collapse-down':isCollapsed,'glyphicon-collapse-up':!isCollapsed}" class="glyphicon"></i>
                                            </button>
                                        </div>
                                        <div class="navigate">
                                            <button ng-click="movePosition(aBMain.menus[selMI].children,$index,'up')" class="btn btn-default" type="button" name="button">
                                                <i class="glyphicon glyphicon-arrow-up"></i>
                                            </button>
                                            <button ng-click="movePosition(aBMain.menus[selMI].children,$index,'down')" class="btn btn-default" type="button" name="button">
                                                <i class="glyphicon glyphicon-arrow-down"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="aBLLabel">
                                            {{mBox.label}}
                                        </div>
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        <div class="remove">
                                            <button ng-click="removeMe(aBMain.menus[selMI].children,$index)" type="button" name="button" class="btn btn-default">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mBoxBody" uib-collapse="isCollapsed">
                        <div class="row">
                            <div class="col-sm-10">
                                <h2 ng-show="!mBoxSett" class="fieldsGTitle">Dynamic fields:</h2>
                                <h2 ng-show="mBoxSett" class="fieldsGTitle">Edit Metabox Settings:</h2>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" name="button" ng-click="mBoxSett = !mBoxSett" ng-class="{'btn-default':!mBoxSett,'btn-primary':mBoxSett}" class="btn btn-block">Edit</button>
                            </div>
                        </div>
                        <!-- MetaBox Settings container START -->
                        <div class="row mBoxSettContainer" ng-show="mBoxSett">
                            <div class="col-sm-12">
                                <!-- Label START -->
                                <div class="input-group">
                                    <span class="input-group-addon" uib-tooltip="The text label of the meta-box. What the header of the metabox text says.(Should change live as you type above.)">Label</span>
                                    <input ng-model="mBox.label" type="text" class="form-control" placeholder="metabox Label" value="{{mBox.label}}" />
                                </div>
                                <!-- Label END -->

                                <!-- Name START -->
                                <div class="input-group">
                                    <span class="input-group-addon" uib-tooltip="the unique name of the meta-box. Used behind the scenes.">Name</span>
                                    <input ng-model="mBox.name" type="text" class="form-control" readonly placeholder="metabox Name" value="{{mBox.name}}" />
                                </div>
                                <!-- Name END -->

                                <!-- Context START -->
                                <div class="input-group">
                                    <span class="input-group-addon" uib-tooltip="Where the metabox should be positioned on the page. Normal (under content tinyMCE) or side panel (the right).">Context</span>
                                    <select class="form-control" name="context" ng-model="mBox.context">
                                        <option ng-repeat="context in mBContext" value="{{context.value}}">{{context.label}}</option>
                                    </select>
                                </div>
                                <!-- Context END -->

                                <!-- Priority START -->
                                <div class="input-group">
                                    <span class="input-group-addon" uib-tooltip="The importance (position wise) of the meta-box.">Priority</span>
                                    <select class="form-control" name="priority" ng-model="mBox.priority">
                                        <option ng-repeat="priority in mBPriority" value="{{priority.value}}">{{priority.label}}</option>
                                    </select>
                                </div>
                                <!-- Priority END -->
                            </div>
                        </div>
                        <!-- MetaBox Settings container END -->
                        <div class="fieldsContainer" ng-show="!mBoxSett">

                            <p>
                                Fields in the metabox generated. Sort, add, delete, edit Fields here.
                            </p>
                            <!-- Fields START -->
                            <div class="field" ng-repeat="field in mBox.fields">
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1 fMainContainer">
                                        <div class="fieldHeader">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-4">

                                                            <div class="expand">
                                                                <button ng-click="isFieldCollapsed = !isFieldCollapsed" type="button" name="button" class="btn btn-default">
                                                                    <i ng-class="{'glyphicon-collapse-down':isFieldCollapsed,'glyphicon-collapse-up':!isFieldCollapsed}" class="glyphicon"></i>
                                                                </button>
                                                            </div>
                                                            <div class="navigate">
                                                                <button ng-click="movePosition(mBox.fields,$index,'up')" class="btn btn-default" type="button" name="button">
                                                                    <i class="glyphicon glyphicon-arrow-up"></i>
                                                                </button>
                                                                <button ng-click="movePosition(mBox.fields,$index,'down')" class="btn btn-default" type="button" name="button">
                                                                    <i class="glyphicon glyphicon-arrow-down"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="aBLLabel">
                                                                {{field.label}}
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 text-right">
                                                            <div class="remove">
                                                                <button ng-click="removeMe(mBox.fields,$index)" type="button" name="button" class="btn btn-default">
                                                                    <i class="glyphicon glyphicon-remove"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="fieldBody" uib-collapse="isFieldCollapsed">
                                            <!-- individual field html structure -->


                                            <!-- Label START -->
                                            <div class="input-group">
                                                <span class="input-group-addon" uib-tooltip="The text label of the field.">Label</span>
                                                <input ng-model="field.label" type="text" class="form-control" placeholder="field Label" value="{{field.label}}" />
                                            </div>
                                            <!-- Label END -->

                                            <!-- Field Name START -->
                                            <div class="input-group">
                                                <span class="input-group-addon" uib-tooltip="The unique name of the field.">Name</span>
                                                <input ng-model="field.name" type="text" class="form-control" readonly placeholder="field Name" value="{{field.name}}" />
                                            </div>
                                            <!-- Field Name END -->

                                            <!-- field Description START -->
                                            <div class="input-group">
                                                <span class="input-group-addon" uib-tooltip="text Description of what the field Does">Description</span>
                                                <textarea ng-model="field.description" type="text" class="form-control" placeholder="{{field.description}}"></textarea>
                                            </div>
                                            <!-- field Description END -->

                                            <!-- select type START -->
                                            <div class="input-group" ng-show="showHideField(field,'select');">
                                                <span class="input-group-addon" uib-tooltip="The type of the select option.">Select Type:</span>
                                                <select ng-model="field.selectType" class="form-control" placeholder="selectType">
                                                    <option ng-repeat="sType in selectTypes" value="{{sType.value}}">{{sType.label}}</option>
                                                </select>
                                            </div>
                                            <!-- select type END -->

                                            <!-- Custom Options START -->
                                            <div class="input-group" ng-show="showHideField(field,'custom','selectType');">
                                                <span class="input-group-addon" uib-tooltip="Custom value and labels:">Dynamic Values:</span>
                                                <div class="form-control flexibleHeight">
                                                    <p class="newVal" ng-repeat="cV in field.oArr">
                                                        <!-- cV stands for custom Value-->
                                                        Value:
                                                        <input type="text" ng-model="cV.value" name="cV.value" value="{{cV.value}}" /> Label:
                                                        <input type="text" ng-model="cV.label" name="cV.label" value="{{cV.label}}" />
                                                        <button type="button" name="button" ng-click="removeMe(field.oArr,$index)">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </button>
                                                    </p>
                                                    <p>
                                                        <button type="button" name="button" class="btn btn-primary" ng-click="aBAddOption(field.oArr,2)">Add Option</button>
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- Custom Options END -->

                                            <!-- Custom Radio Buttons START -->
                                            <div class="input-group" ng-show="showHideField(field,'custom','radioType');">
                                                <span class="input-group-addon" uib-tooltip="The type of the select option.">Radio Labels and Values:</span>
                                                <div class="form-control flexibleHeight">
                                                    <p class="newVal" ng-repeat="cV in field.oArr">
                                                        <!-- cV stands for custom Value-->
                                                        Value:
                                                        <input type="text" ng-model="cV.value" name="cV.value" value="{{cV.value}}" /> Label:
                                                        <input type="text" ng-model="cV.label" name="cV.label" value="{{cV.label}}" />
                                                        <button type="button" name="button" ng-click="removeMe(field.oArr,$index)">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </button>
                                                    </p>
                                                    <p>
                                                        <button type="button" name="button" class="btn btn-primary" ng-click="aBAddOption(field.oArr,2)">Add Option</button>
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- Custom Options END -->

                                            <!-- Radio Buttons Orientation START -->
                                            <div class="input-group" ng-show="showHideField(field,'radio');">
                                                <span class="input-group-addon" uib-tooltip="The way that the radio buttons are shown">Radio Buttons Orientation:</span>
                                                <select ng-model="field.orientation" class="form-control" placeholder="orientation">
                                                    <option ng-repeat="orientation in radioOrientation" value="{{orientation.value}}">{{orientation.label}}</option>
                                                </select>
                                            </div>
                                            <!-- select type END -->


                                            <!-- Checkbox text START -->
                                            <div class="input-group" ng-show="showHideField(field,'checkbox');">
                                                <span class="input-group-addon" uib-tooltip="The text label of the field.">Checkbox Text</span>
                                                <input ng-model="field.extraText" type="text" class="form-control" placeholder="Checkbox Text" value="{{field.extraText}}" />
                                            </div>
                                            <!-- Checkbox text END -->

                                            <!-- datepicker format START -->
                                            <div class="input-group" ng-show="showHideField(field,'datepicker');">
                                                <span class="input-group-addon" uib-tooltip="The date format of the field">Date Format:</span>
                                                <select ng-model="field.format" class="form-control" placeholder="dateFormat">
                                                    <option ng-repeat="format in dateFormats" value="{{format.value}}">{{format.label}}</option>
                                                </select>
                                            </div>
                                            <!-- datepicker format END -->

                                            <!-- timepicker format START -->
                                            <div class="input-group" ng-show="showHideField(field,'timepicker');">
                                                <span class="input-group-addon" uib-tooltip="The date format of the field">Time Format:</span>
                                                <select ng-model="field.format" class="form-control" placeholder="Date Format">
                                                    <option ng-repeat="format in timeFormats" value="{{format.value}}">{{format.label}}</option>
                                                </select>
                                            </div>
                                            <!-- timepicker format END -->

                                            <!-- colorpicker format START -->
                                            <div class="input-group" ng-show="showHideField(field,'colorpicker');">
                                                <span class="input-group-addon" uib-tooltip="The date format of the field">Color Codes format:</span>
                                                <select ng-model="field.format" class="form-control" placeholder="Date Format">
                                                    <option ng-repeat="format in colorFormats" value="{{format.value}}">{{format.label}}</option>
                                                </select>
                                            </div>
                                            <!-- colorpicker format END -->

                                            <!-- colorpicker opacity checkbox START -->
                                            <div class="input-group" ng-show="showHideField(field,'colorpicker');">
                                                <span class="input-group-addon" uib-tooltip="The text label of the field.">Opacity</span>
                                                <div class="form-control">
                                                    <input ng-model="field.opacity" type="checkbox" value="{{field.opacity}}" class="form-control" placeholder="field Label"> Should the user be able to modify the opacity of the color?
                                                </div>
                                            </div>
                                            <!-- colorpicker opacity checkbox END -->

                                            <!-- Custom Options START -->
                                            <div class="input-group" ng-show="showHideField(field,'upload2');">
                                                <span class="input-group-addon" uib-tooltip="Add dynamic thumbnail sizes for images. Thumbnails will be given for the dimensions you are giving here.">Thumbnails:</span>
                                                <div class="form-control flexibleHeight">
                                                    <p class="newVal" ng-repeat="size in field.tSizes">
                                                        <!-- cV stands for custom Value-->
                                                        Width(px):
                                                        <input type="number" ng-model="size.width" name="size.width" value="{{size.width}}" /> Height(px):
                                                        <input type="number" ng-model="size.height" name="size.height" value="{{size.height}}" />
                                                        <button type="button" name="button" ng-click="removeMe(field.tSizes,$index)">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </button>
                                                    </p>
                                                    <p>
                                                        <button type="button" name="button" class="btn btn-primary" ng-click="aBAddOptionSize(field.tSizes)">Add Option</button>
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- Custom Options END -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fields End -->
                        <div class="text-center addField" ng-show="!mBoxSett">
                            <h4>Add Field:</h4>
                            <select name="addField" class="form-control" ng-model="fieldModel" ng-change="addField(mBox.fields,fieldModel)">
                                <option ng-repeat="fO in fieldOptions" value="{{fO.type}}">{{fO.label}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center addMBButton">
            <button ng-click="addMetabox(aBMain.menus[selMI].children)" class="btn btn-primary" type="button" name="button"> Add Metabox</button>
        </div>
    </div>
</div>
