<!-- Settings container START -->
<div class="col-md-12 aBSettings">
    <h3>General Settings</h3>
    <p>
        Clead all your saved settings. Empty everything:
    </p>
    <p>
        <button type="button" ng-click="aBClear()" name="button" class="btn btn-primary">Clear Everything</button> - WARNING! This removes all your saved settings.
    </p>
    <p>
        Import and export your configured settings here:
    </p>
    <!-- Label START -->
    <div class="input-group">
        <span class="input-group-addon" tooltip-placement="bottom" uib-tooltip="Paste json in here to import, Select and copy to export.">Import/Export <br/> (text)</span>
        <textarea ng-model="aBIE" name="name" rows="8" class="form-control"></textarea>
    </div>
    <!-- Label END -->
    <p>
        <button type="button" ng-click="aBImportJson(aBIE)" name="button" class="btn btn-primary">Import</button>
        <button type="button" ng-click="exportPHP()" name="button" class="btn btn-primary">Export File</button> - Works best in Google Chrome (in safari you need to save the file , in Firefox it does not work)
    </p>
    <div id="phpExport1">
      global $abNoticesCalled;
      $abNoticesCalled = (isset($abNoticesCalled)?$abNoticesCalled:true);
      $abError = false;
     include_once ABSPATH.'wp-admin/includes/plugin.php';
     if (!function_exists('ab_admin_notices')) {
         function ab_admin_notices()
         {
             $pluginInstalled = false;
                 include_once ABSPATH.'wp-admin/includes/plugin.php';
             $pluginActive = is_plugin_active('admin-builder/admin_builder.php');

             ||if1||
             if (!function_exists('get_plugins')) {
                 require_once ABSPATH.'wp-admin/includes/plugin.php';
             }
             $allPlugins = get_plugins();
             foreach ($allPlugins as $key => $value) {
                 if ($key === 'admin-builder/admin_builder.php') {
                     $pluginInstalled = true;
                 }
                     # code...
             }
             if (!$pluginInstalled) {
                 echo '<div class="notice notice-error is-dismissible">';
                 echo '<h3>Step 2: Install Admin Builder</h3>';
                 echo '<p>';
                 echo 'To get the full functionality , install Admin Builder.';
                 echo '</p>';
                 echo '<p>';
                 $plugin_name = 'admin-builder';
                 echo '</p>';
                 echo '</div>';
             } else {
                 if (!$pluginActive) {
                     $url = admin_url();

                     echo '<div class="notice notice-error is-dismissible">';
                     echo '<h3>Step 3(final): Activate Admin Builder!</h3>';
                     echo '<p>';
                     echo 'To get the full functionality , activate Admin Builder from the <a href="'.$url.'/plugins.php"><span class="button-primary">plugins directory</span></a>.';
                     echo '</p>';
                     echo '</div>';
                 }
             }
         }
         if(!$abNoticesCalled){
           add_action('admin_notices', 'ab_admin_notices');
           $abNoticesCalled = true;
         }
     }
    if (!$abError) {
        if (!$abError) {
            if (class_exists('loadFromPlugin')) {
</div>
<!-- Settings container END -->
