<!-- Settings container START -->
<div class="col-md-12 aBSettings">
    <h3>General Settings</h3>
    <p>
        Clead all your saved settings. Empty everything:
    </p>
    <p>
        <button type="button" ng-click="aBClear()" name="button" class="btn btn-primary">Clear Everything</button> - WARNING! This removes all your saved settings.
    </p>
    <p>
        Import and export your configured settings here:
    </p>
    <!-- Label START -->
    <div class="input-group">
        <span class="input-group-addon" tooltip-placement="bottom" uib-tooltip="Paste json in here to import, Select and copy to export.">Import/Export <br/> (text)</span>
        <textarea ng-model="aBIE" name="name" rows="8" class="form-control"></textarea>
    </div>
    <!-- Label END -->
    <p>
        <button type="button" ng-click="aBImportJson(aBIE)" name="button" class="btn btn-primary">Import</button>
    </p>
    <p>
    </p>
</div>
<!-- Settings container END -->
