<!-- Settings container START -->
<div class="col-md-12 aBSettings">
    <h3>Export Settings</h3>
    <p ng-hide="projectID">
      Please Open or create a project in order to Export anything.
    </p>
    <div class=""  ng-show="projectID">
      <h4 class="text-center">Export source code::</h4>
      <!-- Label END -->
    <p class="text-center">
        <button ng-show="projectID" type="button" ng-click="exportPHP()" name="button" class="btn btn-primary btn-lg">Export</button>
    </p>


    <h2>How to use:</h2>

    <div uib-collapse="!varHasValue(exportType,'plugin')">

        <p>
            <ol>
                <li>just include the exported file in your plugin or theme. Ex: <b>require_once('abExport.php');</b></li>
            </ol>
        </p>
    </div>
    <div id="phpExport1"></div>
  </div>
</div>
